<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pick a Name!</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<link rel="stylesheet" type="text/css" href="styles/skeleton.css">
</head>
<body>

	<div class="container">
		<div id ="main">
			<h5>BABY NAMERIZER</h5>

			<div class="row" id="gender-selector">
				<button id="boyButton" value="boy">BOY</button>
				<button id="girlButton" value="girl">GIRL</button>				
			</div>

			<div class="row" id="results">
				<p id="firstName"></p>
				<p id="middleName"></p>
				<p id="lastName"></p>
			</div>

			<div class="row">
				<div class="four columns">
					<form id="first">
						<input name="query" placeholder="Add first name"></input>
						<input id="firstSubmit" type="submit" value="submit"></input>		
					</form>
					<button id="firstRandomize">Randomize</button>
				</div>

				<div class="four columns">
					<form id="middle">
						<input name="query" placeholder="Add middle name"></input>
						<input id="middleSubmit" type="submit" value="submit"></input>	
					</form>
					<button id="middleRandomize">Randomize</button>				
				</div>	

				<div class="four columns">
					<form id="last">
						<input name="query" placeholder="Add last name"></input>
						<input id="lastSubmit" type="submit" value="submit"></input>				
					</form>
				</div>						
			</div>	
		</div>
	</div>


	<script src="javascripts/names.js"></script>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/underscore.js"></script>
	<script src="javascripts/main.js"></script>	
</body>
</html>