<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pick a Name!</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<link rel="stylesheet" type="text/css" href="styles/skeleton.css">
</head>
<body>

<%=yield%>

	<script src="javascripts/names.js"></script>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/underscore.js"></script>
	<script src="javascripts/main.js"></script>	
</body>
</html>