body {
	color: gray;
	text-align: center;
	background-color: #99CCCC;
}

#main {
	margin: 70px auto;
	padding: 30px 0;
	background-color: whitesmoke;
	border-radius: 10px;
}

h5 {
	color: darkblue;
}

#results {
	font-size: 20px;
	text-align: center;
	height: 100px;
}

#results p {
	display: inline;
	text-align: center;
}

#randomize-first, #randomize-middle {
	background-color: darkblue;
	color: white;
}